# Always use LF in HTML
*.html filter=lfs diff=lfs merge=lfs -text
# Let Git decide for all other text files
*       text=auto
# Mark binaries so Git skips diffs
*.png binary
*.exe binary
# Treat custom extensions as text for diffs
*.config text
*.json filter=lfs diff=lfs merge=lfs -text
